<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Página do livro</title>
</head>
<body>
    <header>
        <nav class="mainMenu">
            <div class="logo">
                <h1>
                    <a th:href="@{/}">
                        Shelfish
                    </a>
                </h1>
                <p class="subtitulo">O seu organizador pessoal de livros</p>
            </div>
            <ul>
                <li>
                    <a th:href="@{/cadastrarlivro}" class="cadastrarLivro btnCadastro">Cadastrar Livro</a>
                </li>
                <li>
                    <a th:href="@{/cadastrarautor}" class="cadastrarAutor btnCadastro">Cadastrar Autor</a>
                </li>
                <li>
                    <a th:href="@{/cadastrareditora}" class="cadastrarEditorar btnCadastro">Cadastrar Editora</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="livro">
            <h2 class="livro__titulo" th:text="${livroPesquisado.titulo}"></h2>
            <div class="containerLivro">
                <img src="img/semcapa.jpg" alt="Imagem padrão para livro sem capa">
                <div class="dadosLivro">
                    <p class="livro__titulo">
                        <strong>Título:</strong>
                        <span th:text="${livroPesquisado.titulo}"></span>
                    </p>
                    <p class="livro__genero">
                        <strong>Gênero</strong>
                        <span th:text="${livroPesquisado.genero}"></span>
                    </p>
                    <p class="livro__autorCod">
                        <strong>Código do autor:</strong>
                        <span th:text="${livroPesquisado.autorCod}"></span>
                    </p>
                    <p class="livro__autorNm">
                        <strong>Nome do autor:</strong>
                        <span th:text="${livroPesquisado.autorNm}"></span>
                    </p>
                    <p class="livro__editoraCod">
                        <strong>Código da editora:</strong>
                        <span th:text="${livroPesquisado.editoraCod}"></span>
                    </p>
                    <p class="livro__editoraNm">
                        <strong>Nome da editora:</strong>
                        <span>
                            <a th:text="${livroPesquisado.editoraNm}" th:href="@{/editora/{cod} (cod = ${livroPesquisado.editoraCod})}"></a>
                        </span>
                    </p>
                    <p class="livro__preco">
                        <strong>Preço do Livro:</strong>
                        <span>R$ </span>
                        <span th:text="${livroPesquisado.preco}"></span>
                    </p>
                    <p class="livro__isbn">
                        <strong>ISBN:</strong>
                        <span th:text="${livroPesquisado.ISBN}"></span>
                    </p>
                    <div class="deleteUpdate">
                        <form th:action="@{/deletarlivro/{isbn} (isbn = ${livroPesquisado.ISBN})}"  th:method="POST">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="Deletar" style="background-color: red" class="btnCadastro">
                        </form>
                        <form th:action="@{/atualizarivro/{isbn} (isbn = ${livroPesquisado.ISBN})}"  th:method="POST">
                            <input type="hidden" name="_method" value="put" />
                            <input type="submit" value="Editar" class="btnCadastro">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <span>
            &copy; Shelfish 2021 
            
        </span>
    </footer>

</body>
</html>